@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

  



* {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    color: white;
}


html, body{
    scroll-behavior: smooth;
}

/*------------------------------------------------------------------------------*/

body {
    height: auto;
    width: auto;
    background: rgb(11, 11, 11);
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
}

/*Nav*/

header{
    z-index: 10000;
    top: 0;
    left: 0;
    position: sticky;
}


nav {
    background: rgba(117, 116, 116, 0.111);
    box-shadow: 0 8px 32px 0 #3ab1b1ba;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );    

    width: auto;
    padding: 10px;
    z-index: 10000;
    top: 0;
    left: 0;
    position: sticky;

    -webkit-border-bottom-right-radius: 65px;
    -webkit-border-bottom-left-radius: 65px;
    -moz-border-radius-bottomright: 65px;
    -moz-border-radius-bottomleft: 65px;
    border-bottom-right-radius: 65px;
    border-bottom-left-radius: 65px;
}



nav ul {
    display: flex;
    justify-content: center;
    flex-direction: row;

}

nav ul li {
    padding-right: 25px;
    color: white;
    font-size: 25px;
}


nav a {
    text-decoration: none;
}

li:hover{
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;

    color: #33FFFF;
    border: 1px solid #33FFFF;
    border-radius: 30px;
    background-color: #0e969648;
    padding-left: 35px;
    
    transition: 0.5s;
}

li a:hover{
    color: #33FFFF;
}



/*------------------------------------------------------------------------------*/


.container {
    display: flex;
    height: 100%;
    width: 100%;
}


.typewriter {
    display: flex;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 20px;
    border-bottom: 2px solid #33ffff5c;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}



h1 {

    overflow: hidden;
    margin: 0 auto;
    display: inline-block;
    font-weight: normal;
    text-align: center;

}

h1:after {
    content: '';
    display: inline-block;
    background-color: #33FFFF;
    margin-left: 2px;
    height: 25px;
    width: 4px;
    animation: cursor 0.4s infinite;
}

/* The typewriter cursor effect */
@keyframes cursor {
    0% {
        opacity: 1;
    }

    49% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

 #h2-sobre{
    padding-top: 55px;
    padding-left: 5px;
    border-bottom: 2px solid #33ffff5c;
    border-bottom-right-radius: 20px;
    width: 8%;
}

.img-sobre{
   padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-sobre img{
    width: 250px;
    height: 250px;
    border-radius: 100%;
    border: 1px solid #33FFFF;
    cursor: pointer;
}

.img-sobre img:hover{
    box-shadow: 0px 0px 21px 4px #3ab1b1ba;
    transition: 0.5s;
    
}

.sobre-joy{
    display: inline-block;
    width: 60%;
}

.sobre-joy p{
    text-align: center;
    font-weight: 800;

}

.sobre-ctn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 65px;
}

.cv{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
}

.cv a{
    border-radius: 30px;
    border: 1px solid #33FFFF;
    padding: 10px;
    text-decoration: none;
}

.cv a:hover{
    color: #33FFFF;
    border-radius: 30px;
    background-color: #0e969648;

    transition: 0.5s;
}
/*----------------------------------------*/
.sks{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    
}


#soft-sks{
    text-align: center;
    padding-top: 80px;
    
    border-bottom: 2px solid #33ffff5c;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 27%;
}

.skils-ctn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px
}

.skils-ctn p{
    text-transform: capitalize;
}

.linha-1{
    padding-right: 90px;
}

.linha-1 span{
    padding-top: 7px;
    padding-bottom: 7px;
}
/*-----*/



.linha-2 span{
    padding-top: 7px;
    padding-bottom: 7px;
}

.fa {
    color: #79a0f525;
}


.checked {
    color: #00ffffa8;
  }

.checked:hover{
    color: #33FFFF;
    transition: 0.3s;
}

/*--------------------------------------*/

.tec-h3{
    text-align: center;
    padding: 50px 0px;
}

.tec-h3 #h3-tecnologias{
    border-bottom: 2px solid #33ffff5c;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 27%;
   margin: auto;
}

.tec-ctn{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 35px;
}
.row-1  img{
    width: 120px;
    height: 120px;
    padding: 0px 25px;
}

/*------------------*/
.tec-ctn-2{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.row-2  img{
    width: 120px;
    height: 120px;
    padding: 45px 25px;
}

/*------------------------*/


/*-----------------Projetos-----------------------*/
.projetos-h3{
    text-align: center;
    padding-top: 65px;
}


.projetos-ctn{
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}

.projetos-ctn img{
    width: 300px;
    height: 300px;
}

.projetos-ctn img:hover{
    width: 280px;
    height: 280px;
    transition: 0.5s;
    box-shadow: 0 8px 32px 0 #3ab1b1ba;
}

.projetos-ctn section, p{
    padding: 20px;
    text-align: center;
}



.projetos-ctn2{
    display: flex;
    justify-content: center;
    padding-bottom: 45px;
}

.projetos-ctn2 img{
    width: 300px;
    height: 300px;
}

.projetos-ctn2 img:hover{
    width: 280px;
    height: 280px;
    transition: 0.5s;
    box-shadow: 0 8px 32px 0 #3ab1b1ba;
}

.projetos-ctn2 section, p{
    padding: 20px;
    text-align: center;
}





/*-------------Modal------------------*/

.modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    margin: auto;

    height: 150px;
    width: 390px;
    border-radius: 30px;

    background: rgb(0, 2, 17);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

  .modal:target {
    opacity: 1;
    pointer-events: auto;
}

.modal > div {
    width: 400px;
    height: 400px;
    position: relative;
    margin: 10% auto;
    padding: 15px 20px;
    background: rgb(255, 255, 255);
}

.modal .tec-p{
   
    border: #33FFFF 2px solid;
    display: flex;
    justify-content: space-between;
    padding: 0px 25px;
    cursor: pointer;
}

.modal section{
    padding: 0px 5px;
}

.modal p{
    padding: 0px 5px;
    border-radius: 25px;
}

.modal .tec-p:hover{
    background-color: #0e969648;
    color: #33FFFF;
    transition: 0.5s;
    cursor: pointer;
}

.fechar {
    position: absolute;
    width: 30px;
    right: -5px;
    top: -5px;
    text-align: center;
    line-height: 30px;
    margin-top: 5px;
    background: #0073ff64;
    border-radius: 50%;
    font-size: 16px;
    color: #33FFFF;
    text-decoration: none;
}


.fechar:hover{
    background-color: #0e969648;
    border: #33FFFF 1px solid;
    transition: 0.7s;
}


.a-tec-btn{
    display: flex;
    justify-content: center;
    text-decoration: none;
    border: #33FFFF 1px solid;
    border-radius: 30px;
}

.a-tec-btn:hover{
    color: #3efefe;
    border: 1px solid #33FFFF;
    border-radius: 30px;
    background-color: #0e969648;
    transition: 0.5s;
}
/*---------------fim modal--------------------*/


.h3-contato{
    text-align: center;
    padding-top: 35px;
    font-size: 35px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 2 / 2 / 6 / 6; }
    
    

.div1 h4{
    text-align: center;
    padding-top: 35px;
}

.div1 a{
    display: flex;
}

@keyframes rotate {
    100% {
      transform: rotate(1turn);
    }
  }
  .rainbow {
    position: relative;
    z-index: 0;
    border-radius: 10px;
    overflow: hidden;
    padding: 2rem;
  }
  .rainbow::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(#00d9d9c1, #3efefe00), linear-gradient(#3efefe2a, #ff090900), linear-gradient(#3efefe, #008cff00), linear-gradient(#3779f500, #00d9d9c1);
    animation: rotate 4s linear infinite;
  }
  .rainbow::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    background: rgb(7, 7, 7);
    border-radius: 5px;
  }
  /*------------------------------*/



.div1 .img-redes{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.img-redes img:hover{
    border: 2px solid #33FFFF;
    border-radius: 30px;
    transition: 0.3s;
}

.wpp-btn{
    display: flex;
    justify-content: center;
   
}

.wpp-btn a{
     border: 1px solid #33FFFF;
    border-radius: 30px;
    padding: 5px;
    text-decoration: none;
}

.wpp-btn a:hover{
    color: #33FFFF;
    background-color: #3efefe24;
    transition: 0.5s;
}



